/* Reference for horizontally and vertically centering things:
 * https://www.w3.org/Style/Examples/007/center.en.html */

@import 'backgrounds';

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 1.25em;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: white;
}

.full {
  width: 100vw;
  height: 100vh;
  //display: flex;
  //align-items: center;      // Vertically center content
  //justify-content: center;  // Horizontally center content
}

$title-height: 120px;

.title {
  margin: 0;
  height: $title-height;
  display: flex;
  justify-content: center;
  align-items: center;
  //background: red;
  h1 {
    //color: #E9E9E9;
    color: white;
    font-size: 4em;
    font-weight: 400;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - #{$title-height});
}


$logo-height: 200px;
$description-height: 200px;
#sec1 {
  text-align: center;
  #logo {
    height: $logo-height;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img {
      margin-top: 20px;
    }
    
  }
  #slogan {
    font-size: 5em;
    margin: 0;
    height: calc(100vh - #{$logo-height} - #{$description-height});
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #slogan-description {
    font-size: 1.15em;
    height: $description-height;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

#sec2 {
  .wrapper {
    //background: blue;
    width: 90vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div[id^=feature] {
      text-align: center;
      width: 30%;
      height: 80%;
      margin-top: 10%;
      margin-bottom: 10%;
      padding: 10px;
      padding-top: 20px;
      background: rgba(0, 255, 0, 0.5);
      border-radius: 25px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      //color: black;
      img {
        width: 150px;
      }
      .box-title {
        margin-top: 0.75em;
        margin-bottom: 0.5em;
        font-size: 1.2em;
        //color: black;
      }
      p {
        margin: 0;
        font-size: 1.1em;
        //color: black;
      }
    }
  }
}

$sec3-margin: 50px;
#sec3 {
  div[id^=techniques-row-] {
    display: flex;
    justify-content: space-between;
  }
  #techniques-row-2 {
    margin-top: $sec3-margin;
  }
  div[id^=technique-] {
    width: calc((100vw - 3 * #{$sec3-margin}) / 2);
    height: 25vh;
    padding: 20px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    img {
      width: 75px;
    }
    div {
      color: black;
      padding-left: 20px;
      h4 {
        margin-bottom: 0.25em;
        margin-top: 0;
      }
      p {
        text-align: left;
        margin: 0;
      }
    }
  }
  .wrapper {
    width: 100%;
    margin: 0 $sec3-margin;
    //background: blue;
  }
}

$member-width: 275px;
$member-padding: 20px;
#sec4 {
  .wrapper {
    //background: blue;
    width: 90vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 20px;
    div[id^=member-] {
      text-align: center;
      width: $member-width;
      padding: 0 $member-padding;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //background: blue;
    }
  }
  p[class^=member-] {
    margin: 0;
  }
  .member-photo {
    width: 150px;
    margin-bottom: 20px;
  }
  .member-name {
    font-weight: 700;
  }
  .member-function {
  }
  .member-description {
    font-size: 0.9em;
    padding-top: 10px;
    //background: rgba(255, 255, 255, 0.25);
  }
  $icon-height: 40px;
  .member-contact {
    width: calc(#{$member-width} - 2 * #{$member-padding});
    height: $icon-height;
    margin-top: 15px;
    display: flex;
    justify-content: center;
      .contact-icon {
        height: $icon-height;
        margin: 0 5px;
      }
  }
}


$subscribe-padding: 15px;
$subscribe-font-size: 1.1em;
$subscribe-height: 3em;

#sec5 {
  .container {
    height: 100vh;
    margin-top: -$title-height;
  }
  .wrapper {
    //background: blue;
    width: 90vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      text-align: center;
      #subscribe-input {
        font-size: $subscribe-font-size;
        padding: 0 $subscribe-padding;
        outline: none;
        width: 18em;
        border: none;
        height: $subscribe-height;
      }
      #subscribe-button {
        outline: none;
        border: 2px solid white;
        font-size: $subscribe-font-size;
        padding: 0 $subscribe-padding;
        background: transparent;
        height: $subscribe-height;
        color: white;
        &:hover {
          background: #98CE00;
          border-color: #98CE00;
          color: white;
          cursor: pointer;
        }
      }

      #subscribe-text {
        font-size: $subscribe-font-size;
        margin-bottom: 50px;
      }
    }
  }
}

footer {
  background: #191919;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    width: 90vw;
    text-align: center;
    #footer-address {
      font-size: 0.9em;
      a {
        text-decoration: none;
        color: #98CE00A0;
        border-bottom: 2px solid #98CE00;
        &:hover {
          color: #98CE00;
        }
      }
    }
    #footer-copyright {
      margin-top: 30px;
      font-size: 0.75em;
    }
  }
}

#sec1 {
  color: white;
}
