/* Reference for horizontally and vertically centering things:
 * https://www.w3.org/Style/Examples/007/center.en.html */

@import 'backgrounds';

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 1.25em;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: white;
}

.full {
  width: 100vw;
  height: 100vh;
  //display: flex;
  //align-items: center;      // Vertically center content
  //justify-content: center;  // Horizontally center content
}

$title-height: 120px;

.title {
  margin: 0;
  height: $title-height;
  display: flex;
  justify-content: center;
  align-items: center;
  //background: red;
  h1 {
    color: #E9E9E9;
    font-size: 4em;
    font-weight: 400;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - #{$title-height});
}

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  img {
    width: 18vw;
  }
}

#slogan {
  font-size: 5em;
  margin: 0;
}

#slogan-description {
  font-size: 1.15em;
  margin-top: 1.5em;
}

#slogan-image {
  width: 100px;
  margin-top: 1em;
}

#sec1 {
  .container {
    width: 75vw;
  }
}

#sec2 {
  .wrapper {
    //background: blue;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div[id^=feature] {
      text-align: center;
      width: 300px;
      padding: 20px;
      //background: rgba(255, 255, 255, 0.5);
      img {
        width: 150px;
        margin-bottom: 20px;
      }
      p {
        margin: 0;
      }
    }
  }
}

$sec3-margin: 50px;
#sec3 {
  div[id^=techniques-row-] {
    display: flex;
    justify-content: space-between;
  }
  #techniques-row-2 {
    margin-top: $sec3-margin;
  }
  div[id^=technique-] {
    width: calc((100vw - 3 * #{$sec3-margin}) / 2);
    height: 25vh;
    padding: 20px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    img {
      width: 75px;
    }
    p {
      text-align: left;
      color: black;
      padding-left: 20px;
    }
  }
  .wrapper {
    width: 100%;
    margin: 0 $sec3-margin;
    //background: blue;
  }
}

$subscribe-padding: 15px;
$subscribe-font-size: 1.1em;
$subscribe-height: 3em;

#subscribe-input {
  font-size: $subscribe-font-size;
  padding: 0 $subscribe-padding;
  outline: none;
  width: 18em;
  border: none;
  height: $subscribe-height;
}
#subscribe-button {
  outline: none;
  border: 2px solid white;
  font-size: $subscribe-font-size;
  padding: 0 $subscribe-padding;
  background: transparent;
  height: $subscribe-height;
  color: white;
  &:hover {
    background: #98CE00;
    border-color: #98CE00;
    color: white;
    cursor: pointer;
  }
}

#subscribe-text {
  font-size: $subscribe-font-size;
}

footer {
  background: #191919;
  height: 35vh;
  display: flex;
  color: white;
  align-items: center;      // Vertically center content
  justify-content: center;  // Horizontally center content
  #footer-address {
    font-size: 0.9em;
  }
  #footer-copyright {
    font-size: 0.75em;
  }
}

section[id^="sec"] {
  //position: relative;
}

#sec1 {
  color: white;
}

$color-accent: #E9457C;

a, a:visited {
  text-decoration: initial;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid $color-accent;
}
a:hover, a:active {
  color: $color-accent;
}
